
@font-face {
    font-family: OpenSans;
    src: url(../assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: bebas neue;
    src: url(../assets/Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: broadway;
    src: url(../assets/Fonts/Broadway\ Regular.ttf);
}
@font-face {
    font-family: Brigitha;
    src: url(../assets/Fonts/Brigitha\ -\ Reguler\ TTF.ttf);
}
@font-face {
    font-family: abril Fatface;
    src: url(../assets/Fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: zona pro;
    src: url(../assets/Fonts/ZonaPro-Bold.otf);
}
@font-face {
    font-family: montserrat;
    src: url(../assets/Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: bradly hand ITC;
    src: url(../assets/Fonts/BRADHI.ttf);
}
@font-face {
    font-family: goldman;
    src: url(../assets/Fonts/Goldman-Regular.ttf);
}
@font-face {
    font-family: bungee;
    src: url(../assets/Fonts/Bungee-Regular.ttf);
}
@font-face {
    font-family: orelega one;
    src: url(../assets/Fonts/OrelegaOne-Regular.ttf);
}

body{
    background-color: rgb(0, 0, 0);
}
.block{
    display: flex;
}
#contact{
    /* padding-top: 2rem; */
background-image: url(../assets/Slice\ 1BackGround1!.png);
}
.contact{
    justify-content: center;
    margin: auto;
    text-align: center;
}
#contact{
    display: flex;
}
input::placeholder, textarea::placeholder{
    text-align: center;
    font-family: bebas neue;
    font-weight: bold;
    color: gray;
}
input, textarea {
    background-color: rgb(236, 236, 236);
    
    max-width: 250px;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: gray;
    /* padding-left : 20px;
    padding-right: 20px; */
    text-align: center;
    padding: 2.5px;
    height: 2em;
    width: 250px;
}
textarea{
    height: 12em;
    padding: 8px;
    width: 241px;
}
textarea::placeholder{
    /* font-family: bodoni-sans-regular; */
}

button{
    background-color: rgb(206, 206, 206);
    /* height: 2em; */
    width: 70px;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 8px;
    font-family: bebas neue;
    font-weight: bold;
    color: rgb(112, 112, 112);
}
#send{
    padding-left: 20px;
    width: 90px;
}
input{
    color: rgb(190, 131, 224);
    font-family: Bebas neue;
    font-weight: bold;
}
Button:hover{
    background-color: rgb(250, 81, 81);
    color: black;
}
#contactUs{
    padding: 25px;
}
#contactCard{
    padding: 25px;
    margin-bottom: 50px;
    -ms-backdrop-filter:blur(5px);
    -moz-backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgb(255, 255, 255, 0.3);
    border-width: 0.5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5)
}
#subContactCard, .contactInfo{
    display: flex;
}
.subContactCard{
    padding: 25px;
}
#contactLinks{
    display: flex;
}
img{
    max-height: 50px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
/* contact text */
#cus{
    font-family:broadway;
    color:antiquewhite;
    font-size: 4em;
}
#wth{
    font-family: brigitha;
    color: red;
    font-size: 1.6em;
}
.wtd{
    font-family: abril Fatface;
}
.ciq, .cia{
    font-size: 1em;
    font-family:  zona pro;
}
.ciq{
    color: rgb(211, 255, 253);
}
.contactInfo{
    padding: 0.5em;
    display: block;
}
#contactText{
    display:grid;
    margin: 0.5em;
    font-family: futura;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    justify-content: center;
}


/* Footer */
#footer{
    background-color: black;
    color: white;
    /* height: 250px; */
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-align: center;
    padding: 2em;
}
b{
    font-family: "Helvetica Neue",Helvetica,Arial;
}


/* skills */
.cardskillwedo{
    font-family:montserrat;
    font-weight:bold;
    font-size: 4em;
    text-align: center;
    padding: 10px;
    color: rgb(199, 199, 199);
}
.skillDescreption{
    position: relative;
    top: -10px;
    font-family: Bahnschrift;
    /* font-weight: ; */
    font-variant: condensed;
    font-style:none;
    text-align: center;
    color:rgb(207, 207, 207);
}
.skilllevel{
    font-size: 1.2em;
    font-family: Bradley Hand ITC;
    text-align: right;
    padding: 0.5em 0.5em;
    color: gray;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.skills{
    cursor:default;
    height: 250px;
    /*max-width:250px;
    */align-self: center;
    margin: 25px;
    background: rgb(44, 44, 44);
    background: linear-gradient(rgb(13, 13, 105),rgb(0, 0, 0),) ;
    border-radius: 7px;
    padding: 7px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid rgb(77, 77, 77);
    border-right: 1px solid rgb(77, 77, 77);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
    min-width: 250px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#skills{
    display: block;
    background-color:white;
   
}
.subskillcard{
    display:flex;
    grid-auto-flow: column;
    grid-auto-columns: 350px;
    overflow-x:scroll;
    overscroll-behavior-inline: contain;
    background: rgb(0, 0, 0);
    align-items:left;
    /* width:350px; */
}
#firstSubSkillCard{
    background-color:white;
}
.stars{
   text-align:center;
   /* position: relative;
   top: 50px; */
   /* right: 10px; */
   /* color: white; */
}
.wedo{
    margin-left:50px;
    margin-right:50px;
    background-color:rgb(0, 0, 0);
    padding-bottom: 50px;
}

/* hero */
#nav{
    display: flex;
    justify-content:space-between;
    width: 100vw;
}
.navItems{
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    
    /* font-style: italic; */
}
#navLinks{
    display: block;
    font-family: Goldman;
    font-style: italic;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    font-family: bungee;
    color: rgb(255, 249, 247);
    text-decoration: underline;
    text-decoration-color:rgb(153, 32, 52) ;
    -moz-text-decoration-color:rgb(153, 32, 52) ;
    text-decoration-skip-ink:none ;
    text-decoration-thickness: 7px;
    text-underline-offset: -7px;
    z-index: 3;
}
div#name div{
    text-align: left;
    text-decoration: none;
    font-family: bungee;
    color: rgb(255, 241, 235);
    text-decoration: underline;
    text-decoration-color:rgb(153, 32, 52) ;
    -moz-text-decoration-color:rgb(153, 32, 52) ;
    text-decoration-skip-ink:none ;
    text-decoration-thickness: 7px;
    text-underline-offset: -7px;
}
.content{
    min-height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 70px; */
    /* margin-right: 70px; */
    position: relative;
    top: -5vw;
    z-index: 1;
}
#profileImage{ 
    border-radius: 1000px; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px;
     overflow: hidden;
     justify-self: center;
     align-self: center;
     min-height: 250px;
     width: 250px;
     position: relative;
     left: 85px;
     z-index: 2;
   }

#intro{
    z-index: 1;
    padding: 25px;
    width: 40vw;
    max-width: 400px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: rgba(119, 119, 119, 0.5);
    padding-left: 100px;
    padding-right: 50px;
    right: -50px;
    color: rgb(255, 255, 255);
    /*border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    */transform:skew(-20deg) ;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    -ms-transform:skew(-20deg);
    -o-transform:skew(-20deg);
    border-top: white   ;
    border-bottom:rgba(255, 255, 255, 0.459) ;
     border-left:white ;
      border-right:rgba(255, 255, 255, 0.459) ;
    border-width: 10px;
}
#intro:hover{background-color: rgb(123, 255, 123);
    color: black;
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
}
#line{
    display: block;
    text-align:center;
    font-family: abril Fatface;
    font-size: 1.4em;
    padding: 50px
}
#lineB{
    display: block;
    text-align:center;
    font-family: abril Fatface;
    font-size: 1.8em;
}
p{
    text-align:center;
}
#warning{
    margin-top: 25px;
    font-family: Orelega One;
    margin: 30px;
    padding: 10px;
    background-color: antiquewhite;
    color: black;
    margin-left:25vw;
    margin-right:25vw;
}
#contactBtn{
    
    text-align:center;
    
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    
    font-size: 4em;
    
    text-decoration-color: red;
    text-decoration-thickness: 30px;
    text-underline-offset: -30px;
    -moz-text-decoration-color: ;
}
#hero{
    display: block;
    /* background: url(../assets/nebula_-_25047\ \(Original\).mp4); */
}
.reasons{
    text-align: left;
    padding: 50px 100px 50px 100px;
    font-family: Goldman;
    font-size: 2.5em;
    font-style: italic;
    color: antiquewhite;
    background-color: rgb(58, 58, 58);
}
#nav{
    height: 160px;
    font-size: 1.5em;
}
.headOfSubSkillCard{text-align:center;
    color: white;background-color:black;
    font-family: bungee;
    font-size: 4em;
    text-decoration: underline;
    text-decoration-color: red;-moz-text-decoration-color: red;
    text-decoration-skip-ink: none;
    text-decoration-thickness:30px;
    text-underline-offset:-30px;
    
}
a:hover{
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
    font-size:1.3em ;
    color: rgb(173, 255, 173);
}
#firstHeadOfSubSkillCard{
    background-color: white;
    color: black;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding-top: 100px;
}
/* #firstHeadOfSubSkillCard:hover{
    transition: ease-in-out 0.05s;
    font-size: 4.7em;
    -webkit-transition:ease-out 0.2s;
    -moz-transition:ease-out 0.2s;
    -ms-transition:ease-out 0.2s;
    -o-transition:ease-out 0.2s;
    transition:ease-out 0.2s; */
/* } */
/* #profileImage:hover{
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
    min-height: 350px ;
    width: 350px ;} */
#container {
    z-index: 1;
}
#nav{
    z-index: 3;
    padding-top: 10px;
    /* align-items: center; */ 
}
#pad{
    padding-top: 70px;
    padding-bottom: 160px;
}
#padw{
    padding-bottom: 160px;
    
    background-color: white;
}
.subskillcard{
    justify-content: left;
}
#Bg{
    position: absolute;
    -webkit-filter:grayscale(.5);
    filter:grayscale(.5);
    z-index: 0;
    opacity: 16%;
    
    
}
.footer, #line, #warning, #contactButton{
    z-index: 3;
}

#sk2{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;

   
    
}
 #lvu{
        color: rgb(194, 194, 194);
        font-size: 2em;
    }
#lvu2{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
    
#contactLinks{
    padding-top: 7px;
    align-items: center;
}
#vid{
    height: 100vh;
    position: absolute;
    top: 00px;
    padding: 00px;
    margin: 00px;
    overflow: hidden;
    z-index: 0;
    filter: grayscale(.5);
    -webkit-filter: grayscale(.5);
    opacity: .3;
}